<%= form_with(url: "/user", method: "post") do %>
  <div class="card">
    <div class="card-body">
      <% if @user.name.blank? %>
        <h1>Profile</h1>
      <% else %>
        <h1><%= @user.name %>'s Profile</h1>
      <% end %>
      <p>
        From here you can update your profile.
      </p>

      <% %w(name island_name character_name).each do |fieldname| %>
        <label style="display: none;" for="<%= fieldname %>"><%= fieldname.titlecase %></label>
        <input type="text" placeholder="<%= fieldname.titlecase %>" name="<%= fieldname %>" value="<%= @user.send(fieldname.to_sym) %>"/>
      <% end %>

      <button class="card-button" type="submit">Save</button>
    </div>
  </div>
<% end %>
<%= form_with(url: "/turnips/current", method: "post") do %>
  <div class="card">
    <div class="card-body">
      <h1>Turnips</h1>
      <p>
        Turnips are a great way to build wealth. You can purchase them on Sundays before noon and can sell them Monday through Saturday while the shop is open. The buying price and the selling prices vary such that you can quickly build a profit on your own island – however, this risky manuever can leave you with worthless rotten turnips after Saturday.
      </p>
      <p>
        To mitigate that risk, you can share the price of turnips each day with friends and they can share their prices with you. By widening the pool of buyers and sellers, the ability for you to find an island that is buying turnips for a high price greatly increases. This part of Island Manager can help you notify your friends of your prices and vice versa.
      </p>
      <p>
        Some island residents have and use an ability to time travel in order to find beneficial turnip prices. However, this tool was designed around players that are <em>not</em> time traveling and using this tool at the same time.
      </p>

      <% unless @turnips.nil? %>
      <hr/>
      <h2>This week</h2>
      
        <% %w(sunday monday tuesday wednesday thursday friday saturday).each_with_index do |day, index| %>
        <div style="display: flex; justify-content: space-around; margin-bottom: 0.25em;">
          <div>
            <% if index == 0 %>AM<% end %>
            <div style="display: flex; align-items: center; justify-content: center;">
              <input class="no-spin short leading" min="0" max="999" type="number" 
              placeholder="<%= day.titlecase[0..2] %>" 
              name="<%= day + "_am" %>" 
              value="<%= @turnips.send(day + "_am") %>"/>
              <span class="trailing bell-unit">⍟</span>
            </div>
          </div>
          <div>
            <% if index == 0 %>PM<% end %>
            <div style="display: flex; align-items: center; justify-content: center;">
              <input class="no-spin short leading" min="0" max="999" type="number" 
              placeholder="<%= day.titlecase[0..2] %>" 
              name="<%= day + "_pm" %>" 
              value="<%= day == "sunday" ? "" : @turnips.send(day + "_pm") %>" <%= if (day == "sunday") then "disabled" end %>/>
              <span class="trailing bell-unit">⍟</span>
            </div>
          </div>
        </div>
        <% end %>

        <button class="card-button" type="submit">Save</button>
      <% end %>
    </div>
  </div>
<% end %>
