<!DOCTYPE html>
<html>
  <head>
    <title>IslandManager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/zilla-slab.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <p class="flash <%= key %>"><%= value %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
